pre.hljs {
  position: relative;
}

pre.hljs ol {
  list-style: decimal;
  margin: 0;
  margin-left: 40px;
  padding: 0;
}
pre.hljs ol li {
  list-style: decimal-leading-zero;
  position: relative;
  padding-left: 10px;
}

.line-num {
  position: absolute;
  left: -40px;
  top: 0;
  width: 40px;
  height: 100%;
  border-right: 2px solid rgba(255, 255, 255, 0.66);
}
b.name {
  position: absolute;
  top: 2px;
  right: 12px;
  z-index: 10;
  color: #999;
  pointer-events: none;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}
.emoji {
  height: 1.2em;
}
//table thead{
//  display: block;
//  border: 1px solid #2c3e50;
//}
